#countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#countdown .box {
  padding: 10px;
  width: 100px;
}

#countdown .separation {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-bottom: 40px;
}

#countdown .col-4:last-child .box {
  border-right-color: transparent;
}

#countdown .box p {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

#countdown .box .text {
  font-size: 15px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}

@media (min-width: 768px) {
  h1 {
    font-size: 58px;
  }
  #countdown {
    width: auto;
    padding: 20px;
  }
}

@media (max-width: 468px) {
  #countdown {
    display: flex;
    flex-direction: row;
  }
  #countdown .box {
    padding: 5px;
    width: 60px;
  }
  #countdown .box p {
    font-size: 30px;
  }
  #countdown .separation {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
